@page
@model CorporateFinance.fincatorsModel
@{
    ViewData["Title"] = "Fincators";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="fontstyle0">Ratio Analysis</span>
            </h2>
            <p>
                <span class="fontstyle0">Financial ratios are the</span> <span class="fontstyle2">Relationships determined from a firm’s financial information and used for comparison purposes.</span> Such ratios are ways of comparing and investigating the relationships between different pieces of financial information. Using ratios <span>eliminates the size problem because the size effectively divides out. We’re then left with</span> <span>percentages, multiples, or time periods.</span> <span>There is a problem in discussing financial ratios. Because a ratio is simply one number</span> <span>divided by another, and because there are so many accounting numbers out there, we could</span> <span>examine a huge number of possible ratios. Everybody has a favorite. We will restrict ourselves to a representative sampling.</span>
            </p>
            <p>
                <a class="btn" href="#"></a>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 style="color:aqua;">Return on Assets</h4>
            <p><var>ROA</var> = <sup><var>Net income</var></sup>&frasl; <sub><var>Total assets</var></sub></p>
            <h4 style="color:aqua;">Return on Equity</h4>
            <p><var>ROE</var> = <sup><var>Net income</var></sup>&frasl; <sub><var>Total equity</var></sub></p>
            <h4 style="color:aqua;">Earnings per share</h4>
            <p><var>EPS</var> = <sup><var>Net income</var></sup>&frasl; <sub><var>Shares outstanding</var></sub></p>
            <h4 style="color:aqua;">Price-Earnings Ratio</h4>
            <p><var>PE ratio</var> = <sup><var>Price per share</var></sup>&frasl; <sub><var>Earnings per share</var></sub></p>

            <h4>Current Ratio</h4>
            <p><var>Current ratio</var> = <sup><var> Current assets</var></sup>&frasl;<sub><var> Current Liabilities</var></sub></p>
            <h4>Quick Ratio</h4>
            <p><var>Quick ratio</var> = <sup><var> Current assets</var> - <var>Inventory</var></sup>&frasl; <sub><var> Current Liabilities</var></sub></p>
            <h4>Cash Ratio</h4>
            <p><var>Cash ratio</var> = <sup><var>Cash</var></sup>&frasl; <sub><var> Current Liabilities</var></sub></p>
            <h4>Net working capital to total assets</h4>
            <p><var>NWCtTA</var> = <sup><var>Net working capital to total assets</var></sup>&frasl; <sub><var> Total Assets</var></sub></p>
            <h4>Interval measure</h4>
            <p><var>IM</var> = <sup><var>Current assets</var></sup>&frasl; <sub><var>Average daily operating costs</var></sub></p>
            <h4>Total debt ratio</h4>
            <p><var>Total debt ratio</var> = <sup><var>Total assets - Total equity</var></sup>&frasl; <sub><var>Total assets</var></sub></p>
            <h4>Debt–equity ratio</h4>
            <p><var>Debt–equity ratio</var> = <sup><var>Total debt</var></sup>&frasl; <sub><var>Total equity</var></sub></p>
            <h4>Equity multiplier</h4>
            <p><var>Equity multiplier</var> = <sup><var>Total assets</var></sup>&frasl; <sub><var>Total equity</var></sub></p>
            <h4>Long-term debt ratio</h4>
            <p><var>Long-term debt ratio</var> = <sup><var>Long-term debt</var></sup>&frasl; <sub><var>Long-term debt + Total equity</var></sub></p>
            <h4>Profit margin</h4>
            <p><var>Profit margin</var> = <sup><var>Profit margin</var></sup>&frasl; <sub><var>Sales</var></sub></p>

        </div>
    </div>
</div>